<div class="jumbotron">
<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
  
    
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container>
  
     
      <ng-container matColumnDef="formattedCreatedDate">
        <mat-header-cell *matHeaderCellDef> CreatedDate </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.formattedCreatedDate}} </mat-cell>
      </ng-container>
  
     
      <ng-container matColumnDef="loadName">
        <mat-header-cell *matHeaderCellDef> loadName </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.loadName}} </mat-cell>
      </ng-container>
        
      <ng-container matColumnDef="nickName">
        <mat-header-cell *matHeaderCellDef> nickName </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nickName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="totalQuantity">
        <mat-header-cell *matHeaderCellDef> totalQuantity </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.totalQuantity}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let element" fxLayoutGap="5px"> 
                <button mat-mini-fab color="primary" (click)="UpdateData(element.id)"  ><mat-icon>edit</mat-icon>
                 
                </button>
                <!-- <a href="../stockin/?id={{element.stockinId}}" >Update</a> 
                  routerLink="../stockin/?id=element.stockinId"
                -->
            </mat-cell>
        </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
    <mat-paginator #paginator
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
  </div>
</div>