<div class="jumbotron">
  <div class="container">
    <h3>
      Customer List
    </h3>
    <br/>

    <form [formGroup]="searchForm" (ngSubmit)="performSearch()">
      <div class="row">
        <div class="col-md-6">  
         
          <div class="form-group">
            <input type="text" formControlName="customerName" placeholder="Customer Name" class="form-control" 
             [ngClass]="{ 'is-invalid': submitted && f.customerName.errors }" />
            <div *ngIf="submitted && f.customerName.errors" class="invalid-feedback">
                <div *ngIf="f.customerName.errors.required">Customer Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Search"/>
          </div>
        </div>
      </div>
    </form>
    <br/>

    <app-generic-table [dataSource]="dataSource" [displayColInfo]="displayColInfo">
    </app-generic-table>
  </div>
</div>